.homepage{
    font-weight: 500;
    font-family: Verdana;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(41, 41, 206);
    color: white;
    text-align: center;
    p{
      margin-top: 5px;
    }
  }